@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0f0c29;
  --text-primary: #e2e8f0;
}

:root.light-mode {
  --bg-primary: #f3f4f6;
  --text-primary: #1f2937;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
}